<% layout('/layouts/default.html', {title: '进度管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-grid"></i> ${text('进度管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<a href="${ctx}/sys/device/schedule/form" class="btn btn-default btnTool" title="${text('新增进度')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" action="${ctx}/sys/device/schedule/listData" method="post" class="form-inline hide"
			data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
			<div class="form-group">
				<label class="control-label">${text('工程项目')}：</label>
				<div class="control-inline">
					<#form:input path="name" maxlength="100" class="form-control width-150"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">${text('年度')}：</label>
				<div class="control-inline" style="width: 90px">

				</div>
			</div>
			<div class="form-group">
				<button type="submit"  class="btn btn-primary btn-sm">${text('查 询')}</button>
				<button type="reset" class="btn btn-default btn-sm">${text('重 置')}</button>
			</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
    // 初始化DataGrid对象
    $('#dataGrid').dataGrid({
        searchForm: $("#searchForm"),
        columnModel: [
            {header:'${text("工程项目")}', name:'name', width:150, align:"center"},
            {header:'${text("年度")}', name:'year',  width:60, align:"center"},
			{header:'${text("关联计划")}', name:'linkPlan',  width:120, align:"center"},
            {header:'${text("合同金额(万元)")}', name:'money',  width:150, align:"center"},
            {header:'${text("完成金额(万元)")}', name:'endMoney',  width:150, align:"center"},
			{header:'${text("计划开工日期")}', name:'planStartDate',  width:100, align:"center"},
			{header:'${text("计划完成日期")}', name:'planEndDate',  width:100, align:"center"},
			{header:'${text("实际开工日期")}', name:'startDate',  width:100, align:"center"},
			{header:'${text("实际完成日期")}', name:'endDate',  width:100, align:"center"},
            {header:'${text("操作")}', name:'actions', width:100, align:"center", sortable:false, title:false, formatter: function(val, obj, row, act){
                    var actions = [];
					actions.push('<a href="${ctx}/sys/device/scheduleComm/listData?scheduleId='+row.id+'" class="btnList" title="${text("进度验收")}"><i class="icon-share-alt"></i></a>&nbsp;&nbsp;');
					actions.push('<a href="${ctx}/sys/device/schedule/form?id='+row.id+'" class="btnList" title="${text("编辑进度")}"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;');
					actions.push('<a href="${ctx}/sys/device/schedule/del?id='+row.id+'" class="btnList" title="${text("删除进度")}" data-confirm="${text("确认要删除该进度吗？")}" data-deltreenode="'+row.id+'"><i class="fa fa-trash-o"></i></a>&nbsp;&nbsp;');
                    return actions.join('');
                }}
        ],
        ajaxSuccess: function(data){

        }
    });

</script>