<% layout('/layouts/default.html', {title: '新增规范', libs: ['validate','fileupload']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-grid"></i> 新增规范
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${standard}" action="${ctx}/sys/standard/save" method="post" class="form-horizontal">
		<#form:hidden name="id" value="${standard!=null?standard.id:''}"/>


		<div class="box-body">
			<div class="form-unit">${text('新增规范')}</div>
			<div class="row">
				<div class="col-xs-6">
					<div class="form-group">
						<label class="control-label col-sm-4">${text('标准规范名称')}：</label>
						<div class="col-sm-8">
							<#form:input name="standardName" value="${standard!=null?standard.standardName:''}" maxlength="200" class="form-control required " readonly="true" />


						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<div class="form-group">
						<label class="control-label col-sm-4" title="">
							<span class="required ">*</span> ${text('标准编号')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-8">
							<#form:input name="standardId" maxlength="64" value="${standard!=null?standard.standardId:''}"  class="form-control required " readonly="true" />
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<div class="form-group">
						<label class="control-label col-sm-4" title="">
							<span class="required ">*</span> ${text('发布日期')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-8">
							<#form:input name="releaseDate" readonly="true" maxlength="20" class="form-control Wdate required"
							value="${standard!=null?standard.releaseDate:''}" onclick="WdatePicker({dateFmt:'yyyy-MM-dd ',isShowClear:false});"/>						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<div class="form-group">
						<label class="control-label col-sm-4" title="">
							<span class="required ">*</span> ${text('实施日期')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-8">
							<#form:input name="materialDate" readonly="true" maxlength="20" class="form-control Wdate required"
							value="${standard!=null?standard.materialDate:''}" onclick="WdatePicker({dateFmt:'yyyy-MM-dd ',isShowClear:false});"/>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label class="control-label col-sm-2" title="">
							<span class="required hide">*</span> ${text('发布部门')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-10">
							<#form:input name="releaseDepartment" maxlength="64" value="${standard!=null?standard.releaseDepartment:''}"  class="form-control required " readonly="true" />
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<div class="form-group">
						<label class="control-label col-sm-4" title="">
							<span class="required ">*</span> ${text('简介')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-8">
							<#form:textarea name="introduction" value="${standard!=null?standard.introduction:''}" rows="4" maxlength="500" class="form-control " readonly="true" />
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label class="control-label col-sm-2" title="">
							<span class="required hide">*</span> ${text('上传附件')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-10">
							<#form:fileupload id="uploadFile" bizKey="${standard!=null?standard.itemUpload:''}" bizType="itemUpload" uploadType="all" class="" readonly="true" preview="weboffice"/>
						</div>
					</div>
				</div>
			</div>


			<!--<#form:extend collapsed="true" />-->
		</div>
		<div class="box-footer">
			<div class="row">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
					<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
				</div>
			</div>
		</div>
	</#form:form>
</div>
</div>
<% } %>
<script>
    $("#inputForm").validate({
        submitHandler: function(form){
            js.ajaxSubmitForm($(form), function(data){
                js.showMessage(data.message);
                if(data.result == Global.TRUE){
                    js.closeCurrentTabPage(function(contentWindow){
						contentWindow.page();
                    });
                }
            }, "json");
        }
    });
</script>
