<% layout('/layouts/default.html', {title: '系统消息', libs: ['validate','fileupload','ueditor']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa icon-speech"></i> ${text('数据字段详情')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${cl}" class="form-horizontal">
			<div class="box-body">
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group col-xs-6">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('数据库')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-7">
								<%
								for(db in dbs) {
									if(db.id == cl.dbId) {
								%>
									<#form:input readonly="true" name="" maxlength="100" class="form-control required" value="${db.name}"/>
								<%
								}}
								%>
							</div>
						</div>
						<div class="form-group col-xs-6">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('数据表')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-7">
								<%
								for(tb in tbs) {
								if(tb.id == cl.tbId) {
								%>
								<#form:input readonly="true" name="" maxlength="100" class="form-control required" value="${tb.name}"/>
								<%
								}}
								%>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group col-xs-6">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('字段id')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-7">
								<#form:input name="id" maxlength="100" class="form-control required" value="${cl!=null?cl.id:''}" readonly="true"/>
							</div>
						</div>
						<div class="form-group col-xs-6">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-7">
								<#form:input name="name" maxlength="100" class="form-control required" value="${cl!=null?cl.name:''}" readonly="true"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group col-xs-6">
							<label class="control-label col-sm-4" title="">
								${text('字段中文名')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-7">
								<#form:input name="nameCn" maxlength="100" class="form-control required" value="${cl!=null?cl.nameCn:''}" readonly="true"/>
							</div>
						</div>
						<div class="form-group col-xs-6">
							<label class="control-label col-sm-4" title="">
								${text('字段注释')} ： <i class="fa icon-question hide"></i></label>
							<div class="col-sm-7">
								<#form:input name="describe" value="${cl!=null?cl.describe:''}" maxlength="100" class="form-control" readonly="true"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group col-xs-6">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('是否主键（0否 1是）')} ： <i class="fa icon-question hide"></i></label>
							<div class="col-sm-7">
								<#form:input name="isKey" value="${cl!=null?cl.isKey:''}" maxlength="100" class="form-control" readonly="true"/>
							</div>
						</div>
						<div class="form-group col-xs-6">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('字段类型')} ： <i class="fa icon-question hide"></i></label>
							<div class="col-sm-7">
								<#form:input name="type" value="${cl!=null?cl.type:''}" maxlength="100" class="form-control required " readonly="true"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group col-xs-6">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('字段长度')} ： <i class="fa icon-question hide"></i></label>
							<div class="col-sm-7">
								<#form:input name="length" value="${cl!=null?cl.length:''}" maxlength="100" class="form-control required " readonly="true"/>
							</div>
						</div>
						<div class="form-group col-xs-6">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('是否可为空(0否1是)')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-7">
								<#form:input name="isNull" value="${cl!=null?cl.isNull:''}" maxlength="100" class="form-control required " readonly="true"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group col-xs-6">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('字段备注')} ： <i class="fa icon-question hide"></i></label>
							<div class="col-sm-7">
								<#form:input name="remarks" value="${cl!=null?cl.remarks:''}" maxlength="100" class="form-control required " readonly="true"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group col-xs-6">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('创建者')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-7">
								<#form:input name="createBy" maxlength="100" class="form-control required" value="${cl!=null?cl.createBy:'oracle'}" readonly="true"/>
							</div>
						</div>
						<div class="form-group col-xs-6">
							<label class="control-label col-sm-4" title="">
								${text('创建时间')} ： <i class="fa icon-question hide"></i></label>
							<div class="col-sm-7">
								<#form:input name="createDate" value="${cl!=null?cl.createDate:''}" maxlength="100" class="form-control" readonly="true"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group col-xs-6">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('修改者')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-7">
								<#form:input name="updateBy" maxlength="100" class="form-control required" value="${cl!=null?cl.updateBy:'oracle'}" readonly="true"/>
							</div>
						</div>
						<div class="form-group col-xs-6">
							<label class="control-label col-sm-4" title="">
								${text('修改时间')} ： <i class="fa icon-question hide"></i></label>
							<div class="col-sm-7">
								<#form:input name="updateDate" value="${cl!=null?cl.updateDate:''}" maxlength="100" class="form-control" readonly="true"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>