<% layout('/layouts/default.html', {title: '系统消息', libs: ['validate','fileupload','ueditor']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa icon-speech"></i> ${text('注册审批详情')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${reg}" class="form-horizontal">
			<div class="box-body">
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group col-xs-6">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('服务ID')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-7">
								<#form:input name="id" maxlength="100" class="form-control required" value="${reg!=null?reg.id:''}" readonly="true"/>
							</div>
						</div>
						<div class="form-group col-xs-6">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span>${text('服务ID')} ： <i class="fa icon-question hide"></i></label>
							<div class="col-sm-7">
								<#form:input name="resourceId" value="${reg!=null?reg.resourceId:''}" maxlength="100" class="form-control" readonly="true"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group col-xs-6">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('服务名称')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-7">
								<#form:input name="name" maxlength="100" class="form-control required" value="${reg!=null?reg.name:''}" readonly="true"/>
							</div>
						</div>
						<div class="form-group col-xs-6">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('申请人')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-7">
								<#form:input name="applicant" maxlength="100" class="form-control required" value="${reg!=null?reg.applicant:''}" readonly="true"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group col-xs-6">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('申请时间')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-7">
								<#form:input name="createDate" maxlength="100" class="form-control required" value="${reg!=null?reg.createDate:''}" readonly="true"/>
							</div>
						</div>
						<div class="form-group col-xs-6">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('审核状态')} ： <i class="fa icon-question hide"></i></label>
							<div class="col-sm-7">
								<#form:input name="status" value="${reg!=null?reg.status:''}" maxlength="100" class="form-control" readonly="true"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group col-xs-6">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('用户TOKEN')} ： <i class="fa icon-question hide"></i></label>
							<div class="col-sm-7">
								<#form:input name="token" value="${reg!=null?reg.token:''}" maxlength="100" class="form-control required " readonly="true"/>
							</div>
						</div>
						<div class="form-group col-xs-6">
							<label class="control-label col-sm-4" title="">
								${text('备注')} ： <i class="fa icon-question hide"></i></label>
							<div class="col-sm-7">
								<#form:input name="remarks" value="${reg!=null?reg.remarks:''}" maxlength="100" class="form-control" readonly="true"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>