<% layout('/layouts/default.html', {title: '系统信息', libs: ['dataGrid']}){ %>
<div class="main-content">
    <div class="box box-main">
        <div class="box-header">
            <div class="box-title">
                <div class="box-title">
                    <i class="fa icon-speech"></i> ${text('主题服务管理')}
                </div>
            </div>
            <div class="box-tools pull-right">
                <a href="${ctx}/theme/form" class="btn btn-default btnTool" title="${text('新增主题分类')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
            </div>
        </div>
        <div class="box-body">
            <#form:form id="searchForm" action="${ctx}/theme/listData" method="post" class="form-inline hide"
                data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
            </#form:form>
        <table id="dataGrid"></table>
        <div id="dataGridPage"></div>
    </div>
</div>
</div>
<% } %>
<script>
    // 初始化DataGrid对象
    $('#dataGrid').dataGrid({
        searchForm: $("#searchForm"),
        columnModel: [
            {header:'${text("主题分类名称")}', name:'name', index:'name', width:80, align:"center",sortable:false},
            {header:'${text("创建人")}', name:'createBy', index:'describe', width:280, align:"center",sortable:false},
            {header:'${text("创建时间")}', name:'createDate', index:'type', width:150, align:"center",sortable:false},
            {header:'${text("操作")}', name:'action', width:120, align: "center", sortable:false, title:false, formatter: function(val, obj, row, act){
                    var actions = [];
                    actions.push('<a href="${ctx}/theme/form?id='+row.id+'" class="btnList"  title="${text("编辑主题分类")}">编辑</a>&nbsp;&nbsp;');
                    actions.push('<a href="${ctx}/theme/delete?id='+row.id+'" class="btnList" title="${text("删除")}" data-confirm="${text("确认要删除该主题分类吗？")}">删除\</a>&nbsp;&nbsp;');
                    return actions.join('');
                }}
        ],
        // 加载成功后执行事件
        ajaxSuccess: function(data){

        }
    });
</script>