<% layout('/layouts/default.html', {title: '系统消息', libs: ['validate','fileupload','ueditor']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<%
				if(theme==null) {
				%>
				<i class="fa icon-speech"></i>  ${text('新增主题分类')}
				<%
				} else {
				%>
				<i class="fa icon-speech"></i>  ${text('编辑主题分类')}
				<%
				}
				%>
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${theme}" action="${ctx}/theme/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="row">
					<div class="col-xs-12">
						<div class="col-xs-offset-0">
							<#form:hidden name="id" maxlength="100" class="form-control" value="${theme!=null?theme.id:''}"/>
							<#form:hidden name="createBy" maxlength="100" class="form-control" value="${theme!=null?theme.createBy:''}"/>
							<#form:hidden name="createDate" maxlength="100" class="form-control" value="${theme!=null?theme.createDate:''}"/>
						</div>
						<div class="form-group col-xs-6">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('主题分类名称')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-7">
								<#form:input name="name" maxlength="100" class="form-control required" value="${theme!=null?theme.name:''}"/>
							</div>
						</div>
					</div>
					<div class="col-xs-12">
						<div class="form-group col-xs-6">
							<label class="control-label col-sm-4" title="">
								${text('显示图标')}：<i class="fa icon-question hide"></i></label>
						</div>
					</div>
					<div class="col-xs-12">
						<div class="form-group col-sm-11" style="left: 13%">
							<iframe id="upload" name="upload" class="form-control" style="width: 88%;height: 350px"
									src="${ctx}/upload/list?pid=${theme!=null?theme.id:''}&readOnly=1"></iframe>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>