<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>数据目录-数据预览</title>
    <link href="${ctxStatic}/css/style.css" type="text/css" rel="stylesheet">
    <script src="${ctxStatic}/js/jquery.min.js"></script>
</head>

<body>
<div class="topBoxBgColor">
    <div class="logoBox">
        <img src="${ctxStatic}/img/logo2.png">
    </div>
    <div class="searchBox">
        <!--				<input type="text">
                        <a href="">
                            <img src="${ctxStatic}/img/ss_icon.png">
                        </a>-->
    </div>
</div>
<div class="navBox">
    <div class="navConter">
        <a href="${ctx}/index">
            <div class="navList">首页</div>
        </a>
        <a href="${ctx}/sjml/index">
            <div class="navList active">数据目录</div>
        </a>
        <a href="${ctx}/sjfw/index">
            <div class="navList">数据服务</div>
        </a>
        <a href="${ctx}/daml/index">
            <div class="navList">档案目录</div>
        </a>
        <a href="${ctx}/service/record">
            <div class="navList">个人中心</div>
        </a>
    </div>

</div>
<div class="contentBox2">
    <div class="xxTitBox">
        <div class="sjName">${name}</div>
        <div class="colorBox">
            <span class="span_a">XLS</span>
            <span class="span_b">XML</span>
            <span class="span_c">JSON</span>
            <span class="span_d">CSN</span>
        </div>
        <div class="sjNumber">数据量：${mouth} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;接口数量：2</div>
    </div>
</div>
<div class="xNav">
    <a href="${ctx}/sjml/jbxx?id=${id}&name=${name}&mouth=${mouth}">
        <div class="marginLeft">基本信息</div>
    </a>
    <a href="${ctx}/sjml/sjx?id=${id}&name=${name}&mouth=${mouth}">
        <div>数据项</div>
    </a>
    <a href="${ctx}/sjml/sjyl?id=${id}&name=${name}&mouth=${mouth}">
        <div class="active">数据预览</div>
    </a>
    <a href="${ctx}/sjml/wjxz?id=${id}&name=${name}&mouth=${mouth}">
        <div>文件下载</div>
    </a>
    <a href="${ctx}/sjml/APIfw?id=${id}&name=${name}&mouth=${mouth}">
        <div>API服务</div>
    </a>
</div>
<div class="TabBox">
    <div class="leftTj">
        <div class="tjBtn">全部数据共${mouth}条</div>
        <div class="tjBtn">可预览数据共<span id="canViewCount">0</span>条</div>
    </div>
    <div class="rightTab">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody id="tbody">

            </tbody>
        </table>
    </div>
</div>
<div class="bottomBox">
    ©胶东调水数据资源共享平台
</div>
</body>
<script>

    $(function () {

        var tbody = $('#tbody');

        const sjxObject = ${sjxObject};
        var sjxHtml = '<tr>\n' +
            '      <th scope="col">&nbsp;</th>';
        for (var i = 0; i < sjxObject.length; i++) {
            sjxHtml += '<th scope="col">' + sjxObject[i].comments + '</th>';
        }
        sjxHtml += '</tr>';
        tbody.append(sjxHtml);

        var sjObject = ${sjObject};
        if (sjObject != null) {
            $('#canViewCount').html(sjObject.count);

            const data = sjObject.list;
            for (var i = 0; i < data.length; i++) {
                var sjHtml = '<tr>\n' +
                    '      <td class="numberStyle">'+eval(i+1)+'</td>';
                for (var j = 0; j < sjxObject.length; j++) {
                    var index = sjxObject[j].name.toLowerCase();
                    var colValue = '';
                    if (data[i][index] != undefined) {
                        colValue = data[i][index];
                    }
                    sjHtml += '<td>' + colValue + '</td>';
                }
                sjHtml += '</tr>';
                tbody.append(sjHtml);
            }
        }

    });

</script>
</html>
