<% layout('/layouts/default.html', {title: '字典类型管理', libs: ['validate']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-social-dropbox"></i> 字典类型
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" action="${ctx}/sys/dicType/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">基本信息</div>
				<#form:hidden name="id" value="${dicType!=null?dicType.id}"/>
				<#form:hidden name="isNewRecord" value="${dicType!=null?dicType.isNewRecord}"/>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> 字典名称：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input name="dictName" value="${dicType!=null?dicType.dictName}" maxlength="100" class="form-control required "/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> 字典标识符：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input name="dictType" maxlength="100" value="${dicType!=null?dicType.dictType}" class="form-control required abc"
									remote="${ctx}/sys/dicType/checkDictType?oldDictType=${dicType!=null?dicType.dictType}"
									data-msg-remote="字段类型已存在"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4"><span class="required">*</span>系统：</label>
							<div class="col-sm-8">
								<select name="sysCode" class="form-control required" >
									<option value="">请选择</option>
									<% for(e in sysCode){ %>
									<option <%if(dicType!=null&&dicType.sysCode==e.code){%>selected = "selected"<%}%> value="${e.code}" >${e.name}</option>
									<% }%>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hide">*</span> 备注信息：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:textarea name="remarks" value="${dicType!=null?dicType.remarks}" rows="4" maxlength="500" class="form-control "/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> 保 存</button>&nbsp;
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> 关 闭</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>
