<% layout('/layouts/default.html', {title: '合同申请待办', libs: ['dataGrid']}){ %>
<div class="main-content">
    <div class="box box-main">
        <div class="box-header">
            <div class="box-title">
                <i class="fa fa-list-alt"></i> ${text('合同申请待办')}
            </div>
        </div>
        <div class="box-body">
            <#form:form id="searchForm" model="${oa}" action="${ctx}/oa/listDataOAToYu" method="post" class="form-inline hide"
            data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
        </#form:form>
        <table id="dataGrid"></table>
        <div id="dataGridPage"></div>
    </div>
</div>
</div>
<% } %>
<script>
    // 初始化DataGrid对象
    $('#dataGrid').dataGrid({
        searchForm: $("#searchForm"),
        columnModel: [
            {header:'${text("标题")}', name:'TITLE', index:'TITLE', width:150, align:"left", sortableColumn:false, frozen:true, formatter: function(val, obj, row, act){
                    // var tu = 'D_37000000'
                    var tu = row.SUBJECTION_TYPE +'_' +row.SENDSUBJECTIONID
                    return '<a href="http://10.0.2.8:9020/horizon-workflow-boot/workflow/module/workflow/index.html?workId='+row.WORK_ID+'&trackId='+row.TRACKID+'&subjection='+tu+'" target="_blank">'+(val||row.id)+'</a>';
                }},
            {header:'${text("流程名称")}', name:'FLOWNAME', index:'FLOWNAME', width:150, sortableColumn:false, align:"left"},
            {header:'${text("发送人")}', name:'SENDUSERNAME', index:'SENDUSERNAME', width:150, sortableColumn:false, align:"left"},
            {header:'${text("发送时间")}', name:'SENDTIME', index:'SENDTIME', width:150, sortableColumn:false, align:"left"}
        ],
        // 加载成功后执行事件
        ajaxSuccess: function(data){
            // console.log(data);
        }
    });
</script>