<% layout('/layouts/default.html', {title: '文件信息', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-speech"></i> ${text('文件信息')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" action="${ctx}/file/listData" method="post" class="form-inline hide"
			data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group col-xs-5">
						<label class="control-label col-sm-4">${text('资料名称')}：</label>
						<div class="control-inline " >
							<#form:input path="fileName" class="form-control width-150"/>
						</div>
					</div>
					<div class="form-group col-xs-5">
						<label class="control-label col-sm-4">${text('资料依据')}：</label>
						<div class="control-inline ">
							<#form:input path="fileBasis" class="form-control width-150"/>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group col-xs-5">
						<label class="control-label col-sm-4">${text('资料说明')}：</label>
						<div class="control-inline " >
							<#form:input path="fileExplain" class="form-control width-150"/>
						</div>
					</div>
					<div class="form-group col-xs-5">
						<label class="control-label col-sm-4">${text('时间')}：</label>
						<div class="control-inline ">
							<#form:input path="uploadTime" readonly="true" maxlength="20" class="form-control Wdate required"
							dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd ',isShowClear:false});"/>						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<div class="form-group ">
						<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
						<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
					</div>
				</div>
			</div>
		</#form:form>
		<table id="dataGrid"></table>
		<div id="dataGridPage"></div>
	</div>
</div>
</div>
<% } %>

<script>
	// 初始化DataGrid对象
	$('#dataGrid').dataGrid({
		searchForm: $("#searchForm"),
		columnModel: [
			{header:'${text("资料名称")}', name:'fileName', index:'fileName', width:60, align:"left", frozen:true, formatter: function(val, obj, row, act){
					return (val!=null?val:'')
				}},
			{header:'${text("资料说明")}', name:'fileExplain', index:'fileExplain', width:150, align:"center"},
			{header:'${text("资料依据")}', name:'fileBasis', index:'fileBasis', width:150, align:"center"},
			{header:'${text("时间")}', name:'uploadTime', index:'uploadTime', width:150, align:"center"},
			//{header:'${text("结束时间")}', name:'endDate', index:'endTime', width:150, align:"center"},
			//{header:'${text("项目负责人")}', name:'itemLeader', index:'a.itemLeader', width:150, align:"center"},
			{header:'${text("操作")}', name:'actions', width:50, sortable:false, title:false, formatter: function(val, obj, row, act){
					var actions = [];
					actions.push('<a href="${ctx}/file/formFile?id='+row.id+'" class="btnList" title="${text("查看")}"><i class="fa fa-book"></i></a>&nbsp;');
					return actions.join('');
				}}

		],
		// 加载成功后执行事件
		ajaxSuccess: function(data){

		}
	});
</script>