 <% layout('/layouts/default.html', {title: '规范管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-user"></i> ${text('规范管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<a href="${ctx}/sys/standard/form" class="btn btn-default btnTool" title="${text('新增规范')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
<!--				<div class="btn-group">-->
<!--					<a href="javascript:" class="btn btn-default dropdown-toggle" data-toggle="dropdown">-->
<!--						<i class="fa fa-navicon"></i> <span class="caret"></span>-->
<!--					</a>-->
<!--					<ul class="dropdown-menu">-->
<!--						<li><a href="javascript:" id="btnExport"><i class="glyphicon glyphicon-export"></i> 导出</a></li>-->
<!--						<li><a href="javascript:" id="btnImport"><i class="glyphicon glyphicon-import"></i> 导入</a></li>-->
<!--					</ul>-->
<!--				</div>-->
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" action="${ctx}/sys/standard/listData" method="post" class="form-inline "
			data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">

			<div class="form-group">
				<label class="control-label">${text('名称')}：</label>
				<div class="control-inline">
					<#form:input path="standardName" maxlength="100" class="form-control width-90"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">${text('标准编号')}：</label>
				<div class="control-inline">
					<#form:input path="standardId" maxlength="100" class="form-control width-90"/>
				</div>
			</div>

			<div class="form-group">
				<button type="submit"  class="btn btn-primary btn-sm">${text('查询')}</button>
				<button type="reset"  class="btn btn-default btn-sm">${text('重置')}</button>
			</div>
		</#form:form>
		<table id="dataGrid"></table>
	</div>
</div>
</div>
<% } %>
<script>
	$('#field').hide();
	$("#fieldCode").select2();
	$('#dataGrid').dataGrid({
		searchForm: $("#searchForm"),
		columnModel: [
			{header:'${text("标准规范名称")}', name:'standardName', index:'standardName', width:200, align:"center"},
			{header:'${text("标准编号")}', name:'standardId', index:'standardId', width:200, align:"center"},
			{header:'${text("发布日期")}', name:'releaseDate', index:'releaseDate', width:200, align:"center"},
			{header:'${text("实施日期")}', name:'materialDate', index:'materialDate', width:200, align:"center"},
			{header:'${text("发布部门")}', name:'releaseDepartment', index:'releaseDepartment', width:200, align:"center"},
			{header:'${text("排序")}', name:'sort', index:'sort', width:200, align:"center"},
			{header:'${text("操作")}', name:'actions', width:260, sortable:false, title:false, formatter: function(val, obj, row, act){
					var actions = [];

					actions.push('<a href="${ctx}/sys/standard/view?id='+row.id+'" class="btnList" style="color: #69aa46" title="${text("查看")}"><i class="fa icon-book-open"></i></a>&nbsp;');
					return actions.join('');
				}}
		],


	});
	function treeselectfield(id, act, index, layero, nodes){
		$('#field').show();
		if (act == 'ok'){
			log(nodes[0].id);  // 选择的节点数据
			$.ajax({
				type: 'GET',
				url: "${ctx}/sys/field/treeData?deviceId=" + nodes[0].id,
				async: false,
				error: function (data) {
					js.showErrorMessage(data.responseText);
				},
				success: function (data) {
					log(nodes[0].id);
					$('#fieldCode').children().remove();
					var string = '<option value="">-请选择-</option>';;
					JSON.parse(data).forEach(d=>{
						string += '<option value="'+d.id+'">'+d.name+'</option>';
					});
					$('#fieldCode').append(string);
					$("#fieldCode").select2();
				}
			});
		}
	}
</script>

<!--查询时重置页码，否则有可能数据无法显示出来-->
<script type="text/javascript">
	function change() {
		$("#pageNo").val("");
		$("#pageSize").val("");
	}
</script>
