<% layout('/layouts/default.html', {title: '项目信息', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-speech"></i> ${text('项目信息')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" action="${ctx}/item/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group col-xs-3">
						<label class="control-label ">${text('项目编码')}：</label>
						<div class="control-inline " >
							<#form:input path="itemCode" class="form-control width-150"/>
						</div>
					</div>
					<div class="form-group col-xs-3">
						<label class="control-label col-sm-4">${text('项目名称')}：</label>
						<div class="control-inline ">
							<#form:input path="title" class="form-control width-150"/>
						</div>
					</div>

					<div class="form-group col-xs-3">
						<label class="control-label col-sm-4">${text('负责人')}：</label>
						<div class="control-inline ">
							<#form:input path="itemLeader" class="form-control width-150"/>
						</div>
				</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
			<div class="form-group ">
				<label class="control-label ">${text('开始时间')}：</label>
				<div class="control-inline " >
					<#form:input path="selectMinStartDate" readonly="true" maxlength="20" class="form-control Wdate required"
					dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd ',isShowClear:false});"/>--<#form:input path="selectMaxStartDate" readonly="true" maxlength="20" class="form-control Wdate required"
					dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd ',isShowClear:false});"/>
			</div>
			</div>
				</div>
			</div>
					<div class="row">
						<div class="col-xs-12">
							<div class="form-group ">
								<label class="control-label ">${text('结束时间')}：</label>
								<div class="control-inline " >
									<#form:input path="selectMinEndDate" readonly="true" maxlength="20" class="form-control Wdate required"
									dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd ',isShowClear:false});"/>--
									<#form:input path="selectMaxEndDate" readonly="true" maxlength="20" class="form-control Wdate required"
									dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd ',isShowClear:false});"/>
							</div>
						</div>
					</div>
	</div>



				<div class="form-group ">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("项目名称")}', name:'title', index:'title', width:100, align:"left",formatter: function(val, obj, row, act){
				return '<a href="http://10.0.2.5:9020/horizon-workflow-boot/workflow/module/workflow/index.html?workId='+row.workId+'&trackId='+row.trackId+'&subjection='+row.subjection+'" target="_blank"  data-title="${text("编辑消息")}">'
						+(val||row.id)+'</a>'+(row.isAttac==1?' <i class="fa fa-paperclip"></i>':'');
			}  },
		{header:'${text("项目编码")}', name:'itemCode', index:'a.itemCode', width:150, align:"center"},
		{header:'${text("负责人")}', name:'itemLeader', index:'a.itemLeader', width:150, align:"center"},

		{header:'${text("项目金额")}', name:'money', index:'money', width:150, align:"center"},
		//{header:'${text("项目负责人")}', name:'contractObject', index:'contractObject', width:150, align:"center"},
		{header:'${text("开始时间")}', name:'startDate', index:'a.startTime', width:150, align:"center"},
		{header:'${text("结束时间")}', name:'endDate', index:'endTime', width:150, align:"center"}




	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>